*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

header{
    width: 100%;
    height: 100px;
    background-color: #57290B;
    font-family: "Cormorant Garamond";
    color: #F0F0F0;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.8px;
    position: fixed;
    z-index: 1;
    
}

nav{
    margin-left: 119px;
    margin-right: 119px;
    
}

.Cabeçalho{
    
}

.Cabeçalho-Parte{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 7px;
}

.Cabeçalho-item{
    color: inherit;
    text-decoration: none;
}

#Cabeçalho-contato{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Logo{
    width: 13%;
    
}

.Linhas-Estilo{
    margin-left: 10px;
    width: 43px;
    height: 2px;
    background-color: #B2784A;
    border-radius: 1px;
    align-items: center;
}
  
.Intro{
    padding-top: 100px;
    width: 100%;
    height: 525px;
    position: relative;
}

.Espaço{
   
}
#Intro-imagem{
    position: absolute;
    z-index: -1;
    
}

.Intro-texto{
    margin-left: 120px;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 76.26px;
    color: #F0F0F0;
    position: flex;
    flex-direction: column;
}
.Intro-texto1{
    padding-top: 64px;
    width: 550px;
    font-size: 56px;
}

.Intro-texto2{
    padding-top: 16px;
    width: 500px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    padding-bottom: 41px;
}

.Botao-Cafeteria{
    width: 283px;
    height: 57px;
    font-weight: 800;
    background-color: #8F542E;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.Sobre-nos{
    padding-top: 57px;
    margin-left: 106px;
    margin-right: 176px;
    height: 397px;
    display: flex;
    justify-content: space-between;
}

.SN-textos{
    color:#1F0C00; 
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    display: flex;
    flex-direction: column;
}

.SN-titulo{
    padding-bottom: 40px;
}
.SN-texto1{
    width: 500px;
    height: 96px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.SN-texto2{
    padding-top: 16px;
    padding-bottom: 48px;
    width: 500px;
    height: 96px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

#SN-imagem{
    width: 50%;
    height: 50%;
}

.SN-botao{
    width: 283px;
    height: 57px;
    font-weight: 800;
    color: #F0F0F0;
    line-height: 33px;
    font-family: "Open Sans";
    background-color: #8F542E;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    letter-spacing: 3%;
}
